<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <header>
        <h1>Вітаємо на нашому сайті</h1>
        <h2>Тут багато інформації про книги та їх авторів</h2>
    </header>
    <main>
        <img src="https://book-ye.com.ua/upload/medialibrary/516/Kafe-na-krayu-svitu.jpg" alt="">
        <p1>Кафе на краю світу</p1>
        <img src="https://bookclub.ua/images/db/goods/d/56563_110038_d.jpg" alt="">
        <p2>Повернення до кафе на краю світу</p2>
    </main>
    <footer>
        <img src="https://cdn.vogue.ua/i/image_720x/uploads/article-inline/d5f/c02/5cb/231807946_629c5cbc02d5f.jpeg.webp" alt="">
        <p3>Брехливе життя дорослих</p3>
        <img src="https://projects.weekend.today/images/tild3437-3465-4034-b137-383431636531__74372421_images_1125.jpg" alt="">
        <p4>Портрет Доріана Грея</p4>
        <link rel="stylesheet" href="web\web\smt.css">
    </footer>
</body>
</html>